@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:#251801;
  cursor:url("./img/cursor.png") pointer;
}
.container{
  display:flex;
  justify-content:center;
  align-items: center;
}
.face{
  position:relative;
  width:150px;
  height:150px;
  background:#ffcd00;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 1.5em;
  
}
.face:before{
  content:"";
  position:absolute;
  top:90px;
  height:35px;
  width:75px;
  background:#795003;
  border-bottom-right-radius:35px;
  border-bottom-left-radius:35px;
}
.face:hover:before{
  top:105px;
  width:75px;
  height:10px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
